.main-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bree Serif';
}
.heading {
  color: #f0bb03;
  font-size: 64px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 96px;
  }
}
.para {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .para {
    font-size: 36px;
  }
}
.button {
  background-color: #fff;
  color: #1e293b;
  border-radius: 15px;
  border: none;
  text-align: center;
  padding: 12px 24px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}